@import url("https://fonts.googleapis.com/css?family=Mystery+Quest");
body{
	background-color: black;
}

header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	height: 300px;
	background-image: url("../img/banner.jpg");
	background-size: 100% 300px;
}
 
header .titulo {
	color:#f2f2f2;
	font-size:50px;
	font-family: "Mystery Quest";
	line-height:80px;
	margin-top: 20px;
	float:left;
	margin-left: 20px;
}

nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 10px;
	line-height:normal;
	font-size:13.5px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
 
nav a:hover {
	color:#f56f3a;
	font-size: 15px;
}

.Cuento{
   max-width: 1000px;
    height:315px;
    border: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	padding: 15px;
	background-color: #2C1A18;
	color: white;
    overflow:auto;
}

h1{
	display: block;
    font-size: 2em;
    font-family: "Mystery Quest";
    text-align: left;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h1#Titulo_EAP{
	display: block;
    font-size: 2em;
    font-family: "Times New Roman";
    text-align: left;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.img_EAP{	
	float: left;
	height: 250px;
    margin-right: 20px;
    margin-bottom: 15px;
    max-width: 600px;
    border-width: 1px;
	border-style: solid;
	border-color: black;
}

.Contenido{
	font-size: 15px;	
	padding: 15px;
	max-width: 1000px;
	text-align: justify;
	margin:auto;
	display:block;	 
    overflow: hidden;
    color: white;   
}

.obras{
	font-family: fantasy;
	color: #fb4f14;
}
.col-izquierda {
   	float: left;
   	width: 20%;   	
	border-top-width: 0px;
 }
 .col-izquierda ul {
   list-style-type: none;
   padding-left: 0px;
 }
 .col-izquierda ul li {
   padding-left: 10px;
   border-left: 5px solid #000;

   background-color: #2C1A18;
    border-left: 5px solid #000;
   	border-width: thick;
	border-style: solid;
	padding: 15px;
 }

 .col-derecha {
   float: right;
   width: 80%;
 }